@import "tailwindcss";

:root {
  --background: #afafaf;
  --foreground: #4a4a4a;
  --color-orange-600: lab(62.48% 17.16 22.57) !important;
  --color-red-600: lab(47.75% 38.78 17.41) !important;
  --color-yellow-600: lab(66 7.64 42.27) !important;
  --color-blue-600: lab(55.7% 0.66 -24.16) !important;
  --color-violet-600: lab(55 20.28 -28.19) !important;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-white {
  background-color: #dfdede !important;
}

.bg-white-2 {
  background-color: #f2f2f2 !important;
}

.bg-blue-600 {
  background-color: #5c6e8c !important;
}

.bg-slate-50 {
  background-color: #f7f6f6 !important;
}

u {
  text-underline-offset: 5px;
  text-decoration-thickness: 1.4px;
  
}

.text-orange-600 {
  & > u {text-decoration-color: lab(62.48% 17.16 22.57 / 0.695);}
}

.text-red-600 {
  & > u {text-decoration-color: lab(47.75% 38.78 17.41 / 0.695);}
}

.text-yellow-600 {
  & > u {text-decoration-color: lab(66 7.64 42.27 / 0.695);}
}

.text-blue-600 {
  & > u {text-decoration-color: lab(55.7% 0.66 -24.16 / 0.695);}
}

.text-violet-600 {
  & > u {text-decoration-color: lab(55 20.28 -28.19 / 0.695);}
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  background: #e0e0e0 !important;
  color: var(--foreground) !important;
}

.leaflet-popup-content {
  margin: 0 !important;
}

.leaflet-popup-content-wrapper {
  padding: 0 !important;
}